<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <base href="/">
  <title>Playlist Builder</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <style>
    .img-responsive {
      height: 150px!important;
    }
    .list-group-item {
      /*margin: 10px;*/
    }
    .c-form-message--success {
      color: green;
    }
    .c-form-message--error {
      color: red;
    }
    .upload-row {
      text-align: center;
    }
    .drop-box {
      border: 2px dashed #4a4a4a;
      border-radius: 2px;
      color: rgba(#fff, .8);
      text-align: center;
      padding: 30px;
    }

    .dragover {
      opacity: 1 !important;
      border: 2px dotted deepskyblue;
    }
    .thin {
      margin-top: 10px;
    }
    .thin p {
      margin-bottom: 1px;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.js"></script>
  <script>

    const app = angular.module('stitch-playlist-creator', ['ngFileUpload']);
    app.config(($locationProvider) => {
      $locationProvider.html5Mode(true);
    });
    app.controller('main', ($scope, $http, $sce, $q, $location) => {
      $scope.playlists = [];
      $scope.suggestionsFilterType = 'new-playlist';
      $scope.categories = [];
      $scope.categoriesMap = {}; //Used for converting ids to strings
      $scope.activePlaylist = {};
      $scope.newVideo = {};
      $scope.newPlaylist = { status: "hidden", category: {} };
      $scope.state = 0;
      $scope.search = {};
      $scope.filterResults = {};
      let user_id = $location.search().id || localStorage.getItem('uuid') || guid(); //'Viewly';


      if ($location.search().vidflowadminsomethingxcv) {
        $scope.admin = true;
        user_id = $location.search().id || 'Viewly';
      }
      localStorage.setItem('uuid', user_id);

      const serverEndpoint = '/v1/api';
      $scope.s3endpoint = 'https://s3.eu-central-1.amazonaws.com/viewly-playlists-eu1/upload';
      $scope.playlistEditMode = false;
      $scope.importedPlaylist = {};


      $scope.loadPlaylists = (title) => {
        clearUploadData();
        $scope.state = 0;
        let query = !title ? { classification: 'staff_picked', limit: 10 }: { q: title };
        $http.get(`${serverEndpoint}/playlists`, { params: query }).then(data => {
          $scope.playlists = data.data;
          $scope.calculateVideoNo();
        });
      };

      $scope.loadCategories = () => {
        $http.get(`${serverEndpoint}/categories`).then(data => {
          $scope.categories = data.data;
          $scope.categories.forEach(category => {
            $scope.categoriesMap[category.id] = category.name;
          })
        });
      };

      $scope.saveNewPlaylist = () => {
        $http.post(`${serverEndpoint}/playlist`, $scope.newPlaylist, {
          headers: { user_id  }
        }).then(data => {
          if (data.data.id) {
            $scope.newPlaylist = { status: "published" };
            $scope.loadPlaylists();
          }
        });
      };

      $scope.viewPlaylists = () => {
        $scope.activePlaylist = {};
        $scope.playlistEditMode = false;
        $scope.state = 0;
        $scope.playlists = [];
        $scope.loadPlaylists();
      };

      $scope.editPlaylist = (playlist) => {
        clearUploadData();
        $scope.playlistEditMode = false;
        $scope.state = 2;
        $http.get(`${serverEndpoint}/playlist/${playlist.id}`).then(data => {
          $scope.activePlaylist = playlist = data.data;
          $scope.activePlaylist.totalDuration = totalLength($scope.activePlaylist.videos);
          $scope.activePlaylist.videos.map(i => {
              i.duration = durationToReadable(i.duration);
              return i;
          })
        });
      };

      $scope.loadYoutubeUrl = () => {
        $http.get(`${serverEndpoint}/video-prefill?url=${$scope.newVideo.url}`, {
          headers: { user_id  }
        }).
          then(data => {
            Object.assign($scope.newVideo, data.data);
          });
      };

      $scope.deleteVideo = (video) => {
        $http.post(`${serverEndpoint}/remove-video`, {
          video_id: video.id,
          playlist_id: $scope.activePlaylist.id,
          user_id,
        }, {
          headers: { user_id  }
        }).then(data => {
          $scope.editPlaylist($scope.activePlaylist);
        });
      };

      $scope.addVideo = () => {
        $scope.newVideo.playlist_id = $scope.activePlaylist.id;
        $http.post(`${serverEndpoint}/add-video`, $scope.newVideo, {
          headers: { user_id  }
        }).then(data => {
          if (data.data.success) {
            $scope.newVideo = {};
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "Error");
          }
        });
      };

      $scope.updatePlaylist = () => {
          $http.put(`/manageplaylist`, {playlist_id: $scope.activePlaylist.id, classification: $scope.activePlaylist.classification, status: $scope.activePlaylist.status}).then(data => {
          if (data.data.success) {
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "Error");
          }
        })
      };

      $scope.playlistEdit = () => {
        $scope.playlistEditMode = true;
      };

      $scope.moveUp = (index) => {
        if (index !== 0) {
          const temp = $scope.activePlaylist.videos[index];
          $scope.activePlaylist.videos[index] = $scope.activePlaylist.videos[index - 1];
          $scope.activePlaylist.videos[index - 1] = temp;
        }
      };

      $scope.moveDown = (index) => {
        if (index !== $scope.activePlaylist.videos.length - 1) {
          const temp = $scope.activePlaylist.videos[index];
          $scope.activePlaylist.videos[index] = $scope.activePlaylist.videos[index + 1];
          $scope.activePlaylist.videos[index + 1] = temp;
        }
      };

      $scope.playlistDelete = () => {
        $http.delete(`${serverEndpoint}/playlist/${$scope.activePlaylist.id}`, {
          headers: { user_id  }
        }).then((data) => {
          if (data.data.success) {
            $scope.loadPlaylists();
          } else {
            alert("An error occurred.");
          }
        })
      };

      $scope.updateVideo = (video) => {
        $http.put(`${serverEndpoint}/video`, video, {
          headers: { user_id  }
        }).then((data) => {
          if (data.data.success) {
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "An error occurred.");
          }
        })
      };

      $scope.loadSuggestions = () => {
        $http.get(`${serverEndpoint}/suggestions`).then((data) => {
          $scope.suggestions = data.data;
        })
      };

      $scope.updateSuggestionStatus = (suggestion) => {
        $http.put(`${serverEndpoint}/suggestion`, suggestion).then((data) => {
          if (data.data.success) {
            $scope.loadSuggestions();
          } else {
            alert(data.data.reason || "An error occurred.");
          }
        })
      };

      $scope.loadSearchlog = () => {
        $http.get(`${serverEndpoint}/searchlog`).then(data => {
            $scope.searchlog = data.data;
        });
      };

      $scope.importYoutubePlaylist = () => {
        $http.post(`${serverEndpoint}/playlist-import`, $scope.importedPlaylist, {
          headers: { user_id }
        }).then(() => {
          $scope.importedPlaylist = {};
          $scope.loadPlaylists();
        });
      };

      $scope.cancelUpdateVideo = () => {
        $scope.editPlaylist($scope.activePlaylist);
      };

      function init() {
        $scope.loadPlaylists();
        $scope.loadCategories();
        $scope.loadSuggestions();
        $scope.loadSearchlog();
      }

      function durationToReadable(durationString) {
        const duration = moment.duration(durationString);
        return moment.utc(duration.asMilliseconds()).format("HH:mm:ss");
      }

      function totalLength(videos) {
        const start = moment.duration();
        videos.forEach(i => {
          start.add(moment.duration(i.duration));
        });
        return durationToReadable(start.toString())
      }

      $scope.uploadFiles = (documentName, data, urlReceiver) => {
        const extension = data.name.split('.').pop();
        const fileGuid = guid();
        $scope[documentName] = data;
        $scope[`${documentName}_uploading`] = true;
        $scope[`${documentName}_error`] = '';
        $scope[`${documentName}_uploaded`] = false;
        const key = `${fileGuid}_${documentName}.${extension}`;
        $http.post(`${serverEndpoint}/upload-file`, {
          key,
          type: data.type,
        }).then((res) => {
          const url = res.data.url;
          if (url) {
            upload(url, data, documentName).then(() => {
              $scope[`${documentName}_upload`] = $sce.trustAsHtml('<p class="c-form-message c-form-message--success">Uploaded successfully!</p>');
              $scope[`${documentName}_uploaded`] = true;
              $scope[`${documentName}_uploading`] = false;
              $scope[`${documentName}_error`] = '';
              urlReceiver.playlist_thumbnail_url = key;
              //$scope.user[`${documentName}_url`] = key;
            }, (aborted) => {
              if (!aborted) {
                alert('Error while uploading. Please try again or contact support.');
                $scope[`${documentName}_uploaded`] = false;
                $scope[`${documentName}_upload`] = $sce.trustAsHtml('<p class="c-form-message c-form-message--error">Error while uploading. Please try again.</p>');
              }
            }, (evt) => {
              const progressPercentage = parseInt((100.0 * evt.loaded) /
                evt.total, 10);
              $scope[`${documentName}_upload`] = $sce.trustAsHtml(`<p class="c-form-message">Uploading... ${progressPercentage}%..</p>`);
            });
          } else {
            alert('Error while uploading. Please try again or contact support.');
          }
        });
      };

      $scope.clearFile = (documentName) => {
        $scope[documentName] = '';
        if ($scope[`${documentName}canc`]) {
          $scope[`${documentName}canc`]();
        }
      };

      $scope.titleToUrl = (obj, readProp, writeProp, force) => {
        if (force || !obj[writeProp]){
          obj[writeProp] = (obj[readProp].split(' ').join('-') + '-' + guid().split('-')[0].slice(0,4)).toLowerCase();
        }
      };

      $scope.lintHashtags = (playlist) => {
        console.log("qqq", playlist);
        let arr = playlist.hashtags.split(' ');
        playlist.hashtags = arr.map(i => {
          if (!i.startsWith('#')){
            i = '#' + i;
          }
          i.split('-').join('_');
          return i;
        }).join(' ');
      };

      $scope.calculateVideoNo = (list = $scope.playlists) => {
        let total = 0;
        let totalDuration = moment.duration();
        list.forEach(i => {
          total+=i.noVideos;
          totalDuration.add(moment.duration(i.duration));
        });
        let hours = Math.floor(totalDuration.asHours());
        let mins = Math.floor(totalDuration.asMinutes()) - hours * 60;
        $scope.filterResults.duration = `${hours}h:${mins}m`;
        $scope.filterResults.totalVideos = total;
        return total;
      };

      $scope.updatePublishDate = (playlist, force) => {
        if (force) {
          playlist.publish_date = new Date();
        }
        else if (playlist.status === 'published' && !playlist.publish_date) {
          playlist.publish_date = new Date();
        }
      };

      function upload(url, file, documentName) {
        const defer = $q.defer();
        const xhr = new XMLHttpRequest();
        let aborted = false;
        xhr.onreadystatechange = () => {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              try {
                defer.resolve(true);
              } catch (ex) {
                defer.reject(ex);
              }
            } else {
              defer.reject(aborted);
            }
          }
        };

        xhr.upload.onprogress = (event) => {
          defer.notify(event);
        };

        xhr.open('PUT', url, true);
        xhr.send(file);
        $scope[`${documentName}canc`] = () => {
          aborted = true;
          xhr.abort();
          $scope[`${documentName}_upload`] = $sce.trustAsHtml('');
          $scope[`${documentName}_uploaded`] = false;
        };
        return defer.promise;
      }

      function guid() {
        function s4() {
          return Math.floor((1 + Math.random()) * 0x10000)
          .toString(16)
          .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
      }

      function clearUploadData() {
        $scope[`thumbnail_upload`] = $sce.trustAsHtml('');
        $scope[`thumbnail_uploaded`] = false;
        $scope['thumbnail'] = null;
      }
      init();
    });
  </script>
</head>
<body>
<div ng-app="stitch-playlist-creator" ng-controller="main" class="container">
  <img style="height: 30px; float: right; margin-top: 30px" src="https://s3.eu-central-1.amazonaws.com/viewly-playlists-website/images/logo-ffe936e5.svg" alt="">
  <h3>Vidflow Playlist Manager</h3>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-sm btn-success" ng-show="state !== 1" ng-click="state = 1">Create
        Playlist
      </button>
      <button class="btn btn-sm btn-primary" ng-show="state !== 0" ng-click="viewPlaylists()">View
        Playlists
      </button>
      <button class="btn btn-sm btn-warning" ng-show="state !== 3 && admin" ng-click="state = 3">View
        Requests
      </button>
      <button class="btn btn-sm btn-danger" ng-show="state !== 4 && admin" ng-click="state = 4">View
        Searchlog
      </button>
      <button class="btn btn-sm btn-info" ng-show="state !== 5" ng-click="state = 5">Import YT playlist</button>
    </div>

  </div>

  <div class="row" ng-if="state == 0">
    <div class="col-sm-12">
      <h4>Current Playlists</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4" style="text-align: center; margin-bottom: 20px">
            <label>Search by anything</label>
            <input placeholder="#something, hidden, published, Cooking.." type="text"  ng-model="search.title" class="form-control">
            <p>Playlists: {{filtered.length}} | Videos: {{calculateVideoNo(filtered || playlists)}} | Duration: {{filterResults.duration}}</p>
            <button ng-click="loadPlaylists(search.title)" class="btn btn-sm btn-primary">Search</button>
          </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="playlist in playlists | filter: search.title as filtered">
              <div class="thumbnail">
                <img ng-if="playlist.playlist_thumbnail_url" class="img-responsive" src="{{s3endpoint + '/' + playlist.playlist_thumbnail_url}}" alt=""/>
                <img ng-if="!playlist.playlist_thumbnail_url" class="img-responsive" src="https://s3.eu-central-1.amazonaws.com/viewly-playlists-eu1/upload/a6a9391c-2f46-3e9c-d3ef-7af0ea2297a9_thumbnail.png"/>
                <div class="caption">
                  <h3>{{playlist.title}}</h3>
                  <p style="height: 50px; overflow: scroll"><b>Description:</b> {{playlist.description | limitTo: playlist.shown || 50}} <span ng-if="!playlist.shown && playlist.description.length > 50">...</span>
                    <a ng-if="!playlist.shown && playlist.description.length > 50" ng-click="playlist.shown = 500">Show more</a>
                    <a ng-if="playlist.shown == 500" ng-click="playlist.shown = 0">Show less</a>
                  </p>
                  <div class="thin">
                    <p ng-if="playlist.url">
                      <small><a target="_blank" href="{{'https://vidflow.com/playlist/' + playlist.url}}">Link ({{playlist.url}})</a></small>
                    </p>
                    <p ng-if="!playlist.url" style="color: red">URL Missing</p>
                    <p>
                      <small>Hashtags: {{playlist.hashtags}}</small>
                    </p>
                    <p>
                      <small>Category: {{playlist.category.name}}</small>
                    </p>
                    <p>
                      <small>Classification: {{playlist.classification}}</small>
                    </p>
                    <p>
                      <small>Author: {{playlist.user_id}}</small>
                    </p>
                    <p>
                      <small>Total videos: {{playlist.noVideos}}</small>
                    </p>
                    <p>
                      <small>Duration: {{playlist.duration}}</small>
                    </p>
                  </div>
                  <small>Created: {{playlist.created_at | date: 'dd.MM.yyyy'}}</small>
                  <p class="thin">
                    <small>Publish status:
                      <span style="color: green" ng-if="playlist.status == 'published'" class="glyphicon glyphicon-ok"></span>
                      <span style="color: red" ng-if="playlist.status == 'hidden'" class="glyphicon glyphicon-remove"></span>
                    </small>
                    <small ng-if="playlist.publish_date">({{playlist.publish_date | date: 'dd.MM.yyyy'}})</small>
                  </p>
                  <button class="btn btn-primary btn-sm btn-block"
                          ng-click="editPlaylist(playlist)">Edit
                  </button>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="state == 1">
    <form class="col-sm-6">
      <div class="form-group">
        <label>Title</label>
        <input ng-blur="titleToUrl(newPlaylist, 'title', 'url')" ng-model="newPlaylist.title" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>URL</label>
        <input ng-model="newPlaylist.url" type="text" class="form-control">
        <button ng-click="titleToUrl(newPlaylist, 'title', 'url', true)">Regenerate</button>
      </div>
      <div class="form-group">
        <label>Hashtags:</label>
        <input ng-blur="lintHashtags(newPlaylist)" ng-model="newPlaylist.hashtags" type="text" class="form-control">
        <button ng-click="lintHashtags(newPlaylist)">Lint hashtags</button>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="newPlaylist.description" rows="3" type="text" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Category: </label>
        <select ng-model="newPlaylist.category.id" class="form-control">
          <option></option>
          <option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Classification: </label>
        <select ng-model="newPlaylist.classification" class="form-control">
          <option></option>
          <option ng-value="'staff_picked'">Staff Picked</option>
          <option ng-value="'latest'">Latest</option>
          <option ng-value="'featured'">Featured</option>
          <option ng-value="'community_favorite'">Community Favorite</option>
        </select>
      </div>
      <div class="form-group">
        <label>Thumbnail</label>
        <div class="upload-row row row-center">
          <div class="col-sm-12">
            <div ngf-select="uploadFiles('thumbnail', $file, newPlaylist)"
                 ngf-drop="uploadFiles('thumbnail', $file, newPlaylist)" class="drop-box"
                 ngf-drag-over-class="'dragover'"
            >Drop Thumbmail image
            </div>
            <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
          </div>
          <div class="upload-row__or column column-20">or</div>
          <div class="column">
            <div class="btn btn-sm btn-primary"
                 ngf-select="uploadFiles('thumbnail', $file, newPlaylist)">Choose a file
            </div>
          </div>
        </div>
        <!--<p class="c-form-message c-form-message&#45;&#45;error" ng-if="identity_file_error">-->
          <!--[$identity_file_error$]-->
        <!--</p>-->
        <div class="c-announcement__box centered" ng-if="thumbnail">
          <p>Thumbnail:</p>
          <p><img style="height: 200px" class="thumbnail-img" ngf-thumbnail="thumbnail || '/thumb.jpg'"></p>
          <button type="button" class="btn btn-sm btn-primary"
                  ng-click="clearFile('thumbnail')">Change
          </button>
          <div ng-bind-html="thumbnail_upload" ng-if="thumbnail_upload"></div>
        </div>
        </div>

        <div class="form-group">
        <label>Publish status:</label>
        <select ng-model="newPlaylist.status" ng-change="updatePublishDate(newPlaylist)" class="form-control">
          <option ng-if="admin" value="published">Published</option>
          <option value="hidden">Hidden</option>
        </select>
          <small ng-if="newPlaylist.publish_date">
            ({{newPlaylist.publish_date | date: 'dd.MM.yyyy'}})
            <button ng-click="updatePublishDate(newPlaylist, true)">Update</button>
          </small>
        </div>
      <button type="submit" ng-disabled="thumbnail_uploading || !newPlaylist.title" class="btn btn-primary" ng-click="saveNewPlaylist()">Save</button>
    </form>

  </div>
  <div ng-if="state == 2">
    <div class="row">
      <div class="col-sm-6" ng-if="!playlistEditMode">
        <img ng-if="activePlaylist.playlist_thumbnail_url" style="float: right; height: 150px" src="{{s3endpoint + '/' + activePlaylist.playlist_thumbnail_url}}" alt=""/>
        <img ng-if="!activePlaylist.playlist_thumbnail_url" style="float: right; height: 150px" src="https://s3.eu-central-1.amazonaws.com/viewly-playlists-eu1/upload/a6a9391c-2f46-3e9c-d3ef-7af0ea2297a9_thumbnail.png"/>
        <h3>Playlist: {{activePlaylist.title}}</h3>
        <h3>URL: {{activePlaylist.url}}</h3>
        <p>Hashtags: {{activePlaylist.hashtags}}</p>
        <p>Description: {{activePlaylist.description}}</p>
        <p>Category: {{activePlaylist.category.name}}</p>
        <p>Classification: {{activePlaylist.classification}}</p>
        <p>Author: {{activePlaylist.user_id}}</p>
        <p>Total duration: {{activePlaylist.totalDuration}}</p>
        <p>Publish status:
          <span style="color: green" ng-if="activePlaylist.status == 'published'" class="glyphicon glyphicon-ok"></span>
          <span style="color: red" ng-if="activePlaylist.status == 'hidden'" class="glyphicon glyphicon-remove"></span>
          <small ng-if="activePlaylist.publish_date">({{activePlaylist.publish_date | date: 'dd.MM.yyyy HH:mm'}})</small>
        </p>
        <button style="float: right" class="btn btn btn-warning" ng-click="playlistEdit()">Edit/Reorder</button>
        <button style="float: left" class="btn btn btn-danger" ng-click="playlistDelete()">Delete</button>
      </div>
      <div ng-if="playlistEditMode" class="row" style="padding: 20px">
        <form class="col-sm-6">
          <div class="form-group">
            <label>Title</label>
            <input ng-blur="titleToUrl(activePlaylist, 'title', 'url')" ng-model="activePlaylist.title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>URL</label>
            <input ng-model="activePlaylist.url" type="text" class="form-control">
            <button ng-click="titleToUrl(activePlaylist, 'title', 'url', true)">Regenerate</button>
            <p style="font-size: 10px; color: red">(old wont work after saving)</p>
          </div>
          <div class="form-group">
            <label>Hashtags:</label>
            <input ng-blur="lintHashtags(activePlaylist)" ng-model="activePlaylist.hashtags" type="text" class="form-control">
            <button ng-click="lintHashtags(activePlaylist)">Lint hashtags</button>
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea ng-model="activePlaylist.description" rows="3" type="text" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Category: </label>
            <select ng-model="activePlaylist.category.id" class="form-control">
              <option></option>
              <option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Classification: </label>
            <select ng-model="activePlaylist.classification" class="form-control">
              <option></option>
              <option ng-value="'staff_picked'">Staff Picked</option>
              <option ng-value="'latest'">Latest</option>
              <option ng-value="'featured'">Featured</option>
              <option ng-value="'community_favorite'">Community Favorite</option>
            </select>
          </div>

          <div class="form-group">
            <label>Thumbnail</label>
            <div class="upload-row row row-center">
              <div class="col-sm-12">
                <div ngf-select="uploadFiles('thumbnail', $file, activePlaylist)"
                     ngf-drop="uploadFiles('thumbnail', $file, activePlaylist)" class="drop-box"
                     ngf-drag-over-class="'dragover'"
                >Drop Thumbmail image
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
              </div>
              <div class="upload-row__or column column-20">or</div>
              <div class="column">
                <div class="btn btn-sm btn-primary"
                     ngf-select="uploadFiles('thumbnail', $file, activePlaylist)">Choose a file
                </div>
              </div>
            </div>
            <!--<p class="c-form-message c-form-message&#45;&#45;error" ng-if="identity_file_error">-->
            <!--[$identity_file_error$]-->
            <!--</p>-->
            <div class="c-announcement__box centered" ng-if="thumbnail">
              <p>Thumbnail:</p>
              <p><img style="height: 200px" class="thumbnail-img" ngf-thumbnail="thumbnail || '/thumb.jpg'"></p>
              <button type="button" class="btn btn-sm btn-primary"
                      ng-click="clearFile('thumbnail')">Change
              </button>
              <div ng-bind-html="thumbnail_upload" ng-if="thumbnail_upload"></div>
            </div>
          </div>
          <div class="form-group">
            <label>Publish status:</label>
            <select ng-model="activePlaylist.status" class="form-control" ng-change="updatePublishDate(activePlaylist)">
              <option ng-if="admin" value="published">Published</option>
              <option value="hidden">Hidden</option>
            </select>
            <small ng-if="activePlaylist.publish_date">
              ({{activePlaylist.publish_date | date: 'dd.MM.yyyy'}})
              <button ng-click="updatePublishDate(activePlaylist, true)">Update</button>
            </small>
          </div>
          <button type="submit" class="btn btn-primary" ng-disabled="thumbnail_uploading || !activePlaylist.title" ng-click="updatePlaylist()">Save</button>
        </form>
        <div class="col-sm-6">
          <img ng-if="activePlaylist.playlist_thumbnail_url" src="{{s3endpoint + '/' + activePlaylist.playlist_thumbnail_url}}" style="height: 150px"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Videos</h4>
        <ul class="list-group">
          <p ng-if="activePlaylist.videos.length == 0">This playlist doesnt have any videos. Start by adding one!</p>
          <li ng-repeat="video in activePlaylist.videos"
              class="list-group-item list-group-item-action flex-column align-items-start">
            <div ng-if="!video.editMode">
              <img style="float: right; height: 150px" src="{{video.thumbnail_url}}" alt="">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><a href="{{'https://www.youtube.com/watch?v=' + video.video_id}}" target="_blank">{{video.title}}</a></h5>
                <small><p>ID: {{video.video_id}}</p></small>
                <small><a href="{{'https://www.youtube.com/channel/' + video.channel_id}}" target="_blank">Channel</a></small>
              </div>
              <p class="mb-1">{{video.description}}</p>
              <p>
                <small>Category: {{video.category}}</small>
              </p>
              <p>
                <small>Duration: {{video.duration}}</small>
              </p>
              <button class="btn btn-primary btn-sm"
                      ng-click="deleteVideo(video)">Remove
              </button>
              <button class="btn btn-primary btn-sm"
                      ng-click="video.editMode = true">Edit
              </button>
              <div ng-if="playlistEditMode" style="float: right">
                <button ng-click="moveUp($index)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                <button ng-click="moveDown($index)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
              </div>
            </div>
            <div ng-if="video.editMode">
              <div class="form-group">
                <label>Title</label>
                <input ng-model="video.title" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Description</label>
                <input ng-model="video.description" type="text" class="form-control">
              </div>
              <button class="btn btn-default btn-sm" ng-disabled="!video.title" ng-click="updateVideo(video)">Save</button>
              <button class="btn btn-default btn-sm" ng-click="cancelUpdateVideo()">Cancel</button>
            </div>
          </li>
        </ul>

      </div>
      <form class="col-sm-6">
        <h3>Add video</h3>
        <div class="form-group">
          <label>Youtube URL</label>
          <input ng-model="newVideo.url" type="text" class="form-control">
          <button class="btn btn-success" ng-click="loadYoutubeUrl()">Load URL
          </button>
        </div>
        <div class="row" ng-if="newVideo.video_id">
          <div class="col-sm-12">
            <div class="card text-white bg-info" style="padding: 20px">
              <div class="card-body">
                <h3>{{newVideo.title}}</h3>
                <h4><i>Channel title:</i> <b>{{newVideo.channel_title}}</b></h4>
                <h4><i>Duration: </i><b>{{newVideo.duration}}</b></h4>
                <h4><i>Category: </i><b>{{newVideo.category}}</b></h4>
                <h4><i>ID: </i><b>{{newVideo.video_id}}</b></h4>
              </div>
              <div class="row">
                <div class="col-sm-6" ng-if="newVideo.thumbnail_url">
                  <h4>Thumbnail:</h4>
                  <img style="height: 150px" src="{{newVideo.thumbnail_url}}" alt="">
                </div>
                <div class="col-sm-6" ng-if="newVideo.channel_thumbnail">
                  <h4>Channel Thumbnail:</h4>
                  <img style="height: 150px" src="{{newVideo.channel_thumbnail}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="newVideo.video_id">
          <div class="form-group" style="margin-top: 10px">
            <label>Title</label>
            <input ng-model="newVideo.title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea rows="3" ng-model="newVideo.description" type="text" class="form-control"></textarea>
          </div>
          <button ng-disabled="!newVideo.title" type="submit" class="btn btn-primary" ng-click="addVideo()">Add</button>
        </div>
      </form>
    </div>
  </div>
  <div ng-if="state === 3">
    <div class="row">
      <div class="col-sm-12">
        <h4>Requests</h4>
        <button class="btn btn-success" ng-disabled="suggestionsFilterType == 'new-playlist'" ng-click="suggestionsFilterType = 'new-playlist'">View playlists</button>
        <button class="btn btn-success" ng-disabled="suggestionsFilterType == 'suggest-video'" ng-click="suggestionsFilterType = 'suggest-video'">View suggestions</button>
        <button class="btn btn-sm btn-default" ng-click="loadSuggestions()">Refresh</button>
        <h4>{{suggestionsFilterType == 'suggest-video' ? 'Video suggestions' : 'New playlist suggestions'}}</h4>
        <table class="table table-condensed table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Email</th>
            <th scope="col">Category</th>
            <th scope="col">Vid URL</th>
            <th scope="col">Playlist</th>
            <th scope="col">Status</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="suggestion in suggestions | filter:{type: suggestionsFilterType}">
            <td>{{suggestion.title}} <span><b>{{suggestion.description}}</b></span></td>
            <td>{{suggestion.email}}</td>
            <td>{{categoriesMap[suggestion.category]}}</td>
            <td><a href="{{suggestion.url}}" target="_blank">Link</a></td>
            <td><a href="{{'https://vidflow.com/playlist/' + suggestion.playlist_id}}" target="_blank">Link</a></td>
            <td>{{suggestion.status}}</td>
            <td>{{suggestion.created_at | date: 'dd.MM.yyyy HH:mm'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ng-if="state === 4">
    <div class="row">
      <div class="col-sm-12">
        <h4>Searchlog</h4>
        <button class="btn btn-sm btn-default" ng-click="loadSearchlog()">Refresh</button>
        <table class="table table-condensed table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col">Keyword</th>
            <th scope="col">Email</th>
            <th scope="col">Identifier</th>
            <th scope="col">Time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="log in searchlog">
            <th scope="row">{{log.keyword}}</th>
            <td>{{log.email}}</td>
            <td>{{log.identifier}}</td>
            <td>{{log.created_at | date: 'dd.MM.yyyy HH:mm'}}</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div ng-if="state === 5">
    <div class="row">
      <div class="col-sm-6">
        <h4>Import YT playlist</h4>
        <div class="form-group">
          <label>Playlist title</label>
          <input ng-model="importedPlaylist.title" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Youtube playlist URL</label>
          <input ng-model="importedPlaylist.yt_url" type="text" class="form-control">
        </div>
        <button ng-disabled="!importedPlaylist.title || !importedPlaylist.yt_url" class="btn btn-sm btn-default" ng-click="importYoutubePlaylist()">Import</button>

      </div>
    </div>
  </div>
</div>
</body>
</html>
