<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  <script>

    const app = angular.module('stitch-playlist-creator', []);
    app.controller('main', ($scope, $http) => {
      $scope.playlists = [];
      $scope.categories = [];
      $scope.activePlaylist = {};
      $scope.newVideo = {};
      $scope.newPlaylist = { status: "published" };
      $scope.state = 0;
      const user_id = 'Viewly';
      const serverEndpoint = '/v1/api';
      $scope.playlistEditMode = false;

      $scope.loadPlaylists = () => {
        $scope.state = 0;
        $http.get(`${serverEndpoint}/playlists`).then(data => {
          $scope.playlists = data.data;
        });
      };

      $scope.loadCategories = () => {
        $http.get(`${serverEndpoint}/categories`).then(data => {
          $scope.categories = data.data;
        });
      };

      $scope.saveNewPlaylist = () => {
        $http.post(`${serverEndpoint}/playlist`, $scope.newPlaylist).then(data => {
          if (data.data.id) {
            $scope.newPlaylist = { status: "published" };
            $scope.loadPlaylists();
          }
        });
      };

      $scope.viewPlaylists = () => {
        $scope.activePlaylist = {};
        $scope.playlistEditMode = false;
        $scope.state = 0;
        $scope.playlists = [];
        $scope.loadPlaylists();
      };

      $scope.editPlaylist = (playlist) => {
        $scope.playlistEditMode = false;
        $scope.state = 2;
        $http.get(`${serverEndpoint}/playlist/${playlist.id}`).then(data => {
          $scope.activePlaylist = playlist = data.data;
          $scope.activePlaylist.totalDuration = totalLength($scope.activePlaylist.videos);
          $scope.activePlaylist.videos.map(i => {
              i.duration = durationToReadable(i.duration);
              return i;
          })
        });
      };

      $scope.loadYoutubeUrl = () => {
        $http.get(`${serverEndpoint}/video-prefill?url=${$scope.newVideo.url}`).
          then(data => {
            Object.assign($scope.newVideo, data.data);
          });
      };

      $scope.deleteVideo = (video) => {
        $http.post(`${serverEndpoint}/remove-video`, {
          video_id: video.id,
          playlist_id: $scope.activePlaylist.id,
          user_id,
        }).then(data => {
          $scope.editPlaylist($scope.activePlaylist);
        });
      };

      $scope.addVideo = () => {
        $scope.newVideo.playlist_id = $scope.activePlaylist.id;
        $http.post(`${serverEndpoint}/add-video`, $scope.newVideo).then(data => {
          if (data.data.success) {
            $scope.newVideo = {};
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "Error");
          }
        });
      };

      $scope.updatePlaylist = () => {
        const videos = $scope.activePlaylist.videos.map((item, index) => ({id: item.id, position:index}));
        Promise.all([
          $http.post(`${serverEndpoint}/playlist-reorder/${$scope.activePlaylist.id}`, videos),
          $http.put(`${serverEndpoint}/playlist`, $scope.activePlaylist)
        ]).then(data => {
          const d1 = data[0].data;
          const d2 = data[1].data;
          if (d1.success && d2.success) {
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(d1.reason || d2.reason || "Error");
          }
        })

        .then(data => {
          if (data.data.success) {
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "Error");
          }
        })
      };

      $scope.playlistEdit = () => {
        $scope.playlistEditMode = true;
      };

      $scope.moveUp = (index) => {
        if (index !== 0) {
          const temp = $scope.activePlaylist.videos[index];
          $scope.activePlaylist.videos[index] = $scope.activePlaylist.videos[index - 1];
          $scope.activePlaylist.videos[index - 1] = temp;
        }
      };

      $scope.moveDown = (index) => {
        if (index !== $scope.activePlaylist.videos.length - 1) {
          const temp = $scope.activePlaylist.videos[index];
          $scope.activePlaylist.videos[index] = $scope.activePlaylist.videos[index + 1];
          $scope.activePlaylist.videos[index + 1] = temp;
        }
      };

      $scope.playlistDelete = () => {
        $http.delete(`${serverEndpoint}/playlist/${$scope.activePlaylist.id}`).then((data) => {
          if (data.data.success) {
            $scope.loadPlaylists();
          } else {
            alert("An error occurred.");
          }
        })
      };

      $scope.updateVideo = (video) => {
        $http.put(`${serverEndpoint}/video`, video).then((data) => {
          if (data.data.success) {
            $scope.editPlaylist($scope.activePlaylist);
          } else {
            alert(data.data.reason || "An error occurred.");
          }
        })
      };

      $scope.cancelUpdateVideo = () => {
        $scope.editPlaylist($scope.activePlaylist);
      };

      function init() {
        $scope.loadPlaylists();
        $scope.loadCategories();
        console.log(moment.duration().humanize(), "????")
      }

      function durationToReadable(durationString) {
        const duration = moment.duration(durationString);
        return moment.utc(duration.asMilliseconds()).format("HH:mm:ss");
      }

      function totalLength(videos) {
        const start = moment.duration();
        videos.forEach(i => {
          start.add(moment.duration(i.duration));
        });
        return durationToReadable(start.toString())
      }

      init();

    });
  </script>
</head>
<body>
<div ng-app="stitch-playlist-creator" ng-controller="main" class="container">
  <h3>Welcome to Stitch Playlist Creator!</h3>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-sm btn-success" ng-show="state !== 1" ng-click="state = 1">Create
        Playlist
      </button>
      <button class="btn btn-sm btn-primary" ng-show="state !== 0" ng-click="viewPlaylists()">View
        Playlists
      </button>
    </div>
  </div>

  <div class="row" ng-if="state == 0">
    <div class="col-sm-6">
      <h4>Current Playlists</h4>
      <ul class="list-group">
        <li ng-repeat="playlist in playlists"
            class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">{{playlist.title}}</h3>
            <p class="mb-1">Description: {{playlist.description}}</p>
            <small>Created: {{playlist.created_at | date: 'dd.MM.yyyy'}}</small>
          </div>

          <p>
            <small>Category: {{playlist.category}}</small>
          </p>
          <p>
            <small>Author: {{playlist.user_id}}</small>
          </p>
          <p>
            <small>Publish status:
              <span style="color: green" ng-if="playlist.status == 'published'" class="glyphicon glyphicon-ok"></span>
              <span style="color: red" ng-if="playlist.status == 'hidden'" class="glyphicon glyphicon-remove"></span>
            </small>
          </p>
          <button class="btn btn-primary btn-sm"
                  ng-click="editPlaylist(playlist)">Edit
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" ng-if="state == 1">
    <form class="col-sm-6">
      <div class="form-group">
        <label>Title</label>
        <input ng-model="newPlaylist.title" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="newPlaylist.description" rows="3" type="text" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Category: </label>
        <select ng-model="newPlaylist.category" class="form-control">
          <option></option>
          <option ng-repeat="category in categories" ng-value="category.name">{{category.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Publish status:</label>
        <select ng-model="newPlaylist.status" class="form-control">
          <option value="published">Published</option>
          <option value="hidden">Hidden</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="saveNewPlaylist()">Save</button>
    </form>

  </div>
  <div ng-if="state == 2">
    <div class="row">
      <div class="col-sm-6" ng-if="!playlistEditMode">
        <h3>Playlist: {{activePlaylist.title}}</h3>
        <p>Description: {{activePlaylist.description}}</p>
        <button style="float: right" class="btn btn btn-warning" ng-click="playlistEdit()">Edit/Reorder</button>
        <button style="float: right" class="btn btn btn-danger" ng-click="playlistDelete()">Delete</button>
        <p>Category: {{activePlaylist.category}}</p>
        <p>Total duration: {{activePlaylist.totalDuration}}</p>
        <p>Publish status:
          <span style="color: green" ng-if="activePlaylist.status == 'published'" class="glyphicon glyphicon-ok"></span>
          <span style="color: red" ng-if="activePlaylist.status == 'hidden'" class="glyphicon glyphicon-remove"></span>
        </p>
      </div>
      <div ng-if="playlistEditMode" class="row" style="padding: 20px">
        <form class="col-sm-6">
          <div class="form-group">
            <label>Title</label>
            <input ng-model="activePlaylist.title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea ng-model="activePlaylist.description" rows="3" type="text" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Category: </label>
            <select ng-model="activePlaylist.category" class="form-control">
              <option></option>
              <option ng-repeat="category in categories" ng-value="category.name">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Publish status:</label>
            <select ng-model="activePlaylist.status" class="form-control">
              <option value="published">Published</option>
              <option value="hidden">Hidden</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="updatePlaylist()">Save</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h4>Videos</h4>
        <ul class="list-group">
          <p ng-if="activePlaylist.videos.length == 0">This playlist doesnt have any videos. Start by adding one!</p>
          <li ng-repeat="video in activePlaylist.videos"
              class="list-group-item list-group-item-action flex-column align-items-start">
            <div ng-if="!video.editMode">
              <img style="float: right" src="{{video.thumbnail_url}}" alt="">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><a href="{{'https://www.youtube.com/watch?v=' + video.video_id}}" target="_blank">{{video.title}}</a></h5>
                <small><p>ID: {{video.video_id}}</p></small>
                <small><a href="{{'https://www.youtube.com/channel/' + video.channel_id}}" target="_blank">Channel</a></small>
              </div>
              <p class="mb-1">{{video.description}}</p>
              <p>
                <small>Category: {{video.category}}</small>
              </p>
              <p>
                <small>Duration: {{video.duration}}</small>
              </p>
              <button class="btn btn-primary btn-sm"
                      ng-click="deleteVideo(video)">Remove
              </button>
              <button class="btn btn-primary btn-sm"
                      ng-click="video.editMode = true">Edit
              </button>
              <div ng-if="playlistEditMode" style="float: right">
                <button ng-click="moveUp($index)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-circle-arrow-up"></span></button>
                <button ng-click="moveDown($index)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
              </div>
            </div>
            <div ng-if="video.editMode">
              <div class="form-group">
                <label>Title</label>
                <input ng-model="video.title" type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Description</label>
                <input ng-model="video.description" type="text" class="form-control">
              </div>
              <button class="btn btn-default btn-sm" ng-click="updateVideo(video)">Save</button>
              <button class="btn btn-default btn-sm" ng-click="cancelUpdateVideo()">Cancel</button>
            </div>
          </li>
        </ul>

      </div>
      <form class="col-sm-6">
        <h3>Add video</h3>
        <div class="form-group">
          <label>Youtube URL</label>
          <input ng-model="newVideo.url" type="text" class="form-control">
          <button class="btn btn-success" ng-click="loadYoutubeUrl()">Load URL
          </button>
        </div>
        <div class="row" ng-if="newVideo.video_id">
          <div class="col-sm-12">
            <div class="card text-white bg-info" style="padding: 20px">
              <div class="card-body">
                <h3>{{newVideo.title}}</h3>
                <h4><i>Channel title:</i> <b>{{newVideo.channel_title}}</b></h4>
                <h4><i>Duration: </i><b>{{newVideo.duration}}</b></h4>
                <h4><i>Category: </i><b>{{newVideo.category}}</b></h4>
                <h4><i>ID: </i><b>{{newVideo.video_id}}</b></h4>
              </div>
              <div class="row">
                <div class="col-sm-6" ng-if="newVideo.thumbnail_url">
                  <h4>Thumbnail:</h4>
                  <img src="{{newVideo.thumbnail_url}}" alt="">
                </div>
                <div class="col-sm-6" ng-if="newVideo.channel_thumbnail">
                  <h4>Channel Thumbnail:</h4>
                  <img src="{{newVideo.channel_thumbnail}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="newVideo.video_id">
          <div class="form-group" style="margin-top: 10px">
            <label>Title</label>
            <input ng-model="newVideo.title" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <textarea rows="3" ng-model="newVideo.description" type="text" class="form-control"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="addVideo()">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
